[buildout]
develop = .
	../quotationtool.site
	../quotationtool.security
	../quotationtool.renderer
	../quotationtool.relation
	../quotationtool.skin
	../quotationtool.search
	../quotationtool.bibliography
	../quotationtool.figuresng
	../quotationtool.commentary
	../quotationtool.categorization
	../quotationtool.biblatex
	../quotationtool.user

parts = i18n

extends = http://download.zope.org/bluebream/bluebream-1.0.cfg

versions = versions

# Don't let Buildout choose itself the versions, and make it repeatable.
# You should pin down versions in the [versions] section.
allow-picked-versions = false

# To discover dependencies, comment the line above, uncomment the line below,
# relaunch the buildout, then copy/paste the output to the [versions] section.
#extensions = buildout.dumppickedversions

[i18n]
recipe = lovely.recipe:i18n
eggs = 
        zope.app.component
        zope.i18n
	quotationtool.locales[i18n]
package = quotationtool.locales
domain = quotationtool
output = locales
location = src/quotationtool
maker = z3c.csvvocabulary.csvStrings
zcml =      
     <include package="quotationtool.skin"/>
     <include package="quotationtool.security"/>
     <include package="quotationtool.user"/>
     <include package="quotationtool.site"/>
     <include package="quotationtool.search"/>
     <include package="quotationtool.relation"/>
     <include package="quotationtool.renderer"/>
     <include package="quotationtool.bibliography"/>
     <include package="quotationtool.biblatex"/>
     <include package="quotationtool.categorization"/>
     <include package="quotationtool.figuresng"/>
     <include package="quotationtool.commentary"/>
     <include package="quotationtool.user" file="roles.zcml"/>
     <include package="quotationtool.bibliography" file="roles.zcml"/>
     <include package="quotationtool.categorization" file="roles.zcml"/>
     <include package="quotationtool.figuresng" file="roles.zcml"/>
     <include package="quotationtool.commentary" file="roles.zcml"/>



[versions]
# for old items
zope.app.securitypolicy = 3.5.1
z3c.csvvocabulary = 1.1.0

zc.relation = 1.0
zc.catalog = 1.5
z3c.i18n = 0.1.2
lovely.recipe = 1.0.0

# for browser related things
z3c.layer.pagelet = 1.9.0
z3c.pagelet = 1.2.1
z3c.ptcompat = 0.5.7
z3c.template = 1.2.1
z3c.formui = 2.2.0
z3c.macro = 1.3.0
z3c.wizard = 0.9.0
z3c.form = 2.4.1
z3c.menu.ready2go = 0.8.0

# added for icecontrol
ice.control = 0.4.0
z3c.contents = 0.6.0
z3c.zrtresource = 1.3.0
z3c.formui = 2.2.0
z3c.template = 1.2.0
z3c.layer.pagelet = 1.9.0
z3c.configurator = 1.3.0
z3c.table = 0.9.0
z3c.form = 2.4.1
z3c.macro = 1.3.0
z3c.ptcompat = 0.5.7
z3c.pagelet = 1.2.1
z3c.batching = 1.1.0
z3c.wizard = 0.9.0
z3c.menu.ready2go = 0.8.0
